<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServicioPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://23.22.34.143:8080/BendicionesSoftServices/Servicio"
                binding="basicHttpBinding" bindingConfiguration="ServicioPortBinding"
                contract="Service.Servicio" name="ServicioPort" />
        </client>
    </system.serviceModel>
</configuration>